@import "./variables";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 25px;
}

ul {
  list-style: none;
}

h3 {
  font-family: "Cormorant";
}

a {
  text-decoration: none;
}

h1 {
  font-family: $headerFont;
  font-size: $headerSize;
  color: black;
}

h2 {
  font-family: $headerFont;
  font-size: 1.5em;
  color: black;
}

p {
  font-family: "Sarabun", sans-serif;
  line-height: 20px;
  font-size: 19px;
  color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

  width: 90%;
  height: 80%;
}

.content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  max-height: 500px;
  max-width: 100%;
  margin: 20px 0;
}

.img-container img {
  padding-left: 15px;
}

.icon {
  margin-right: 25px;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-wrap: wrap;
}
