$wrapper-width: 80%;

$primaryColor: black;
$secondaryColor: black;

$primaryGrad: linear-gradient(#efefbb, #d4d3dd);
$secondaryGrad: linear-gradient(#ffeeee, #ddefbb);
$focusGrad: linear-gradient(#f857a6, #ff5858);

$headerFont: "Noto Serif SC", serif;
$headerSize: 2em;
$paraFont: "Sarabun", sans-serif;
$paraSize: 1.2em;
