$wrapper-width: 80%;
$primaryColor: black;
$secondaryColor: black;
$primaryGrad: #efefbb;
$secondaryGrad: #ffeeee;
$focusGrad: #f857a6;
$headerFont: "Noto Serif SC", serif;
$headerSize: 2em;
$paraFont: "Sarabun", sans-serif;
$paraSize: 1.2em;
